<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Prototype</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 {% for a in test %}
    <h1>{{ a }}</h1>
 {% endfor%}
<div class="container">
 
 <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8"><img class="" src="static\final.png" alt="Smiley face" height="240" width="240"></div>

</div>


  <form  action="/start" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="text">Folder:</label>
      <input type="text" class="form-control" id="folder" name="folder" placeholder="Enter file path">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>      
</div>
</div>
</body>
</html>
